# --- FRONTEND & API ---
streamlit
flask
flask-cors
requests
python-dotenv

# --- DATA & AI ---
pandas
openpyxl
openai

# --- DATABASE & SERVER ---
pymongo[srv]
dnspython
gunicorn

# --- UTILS ---
python-docx